$jaune: #FECE56;

$grisClair : #656E7A;
$grisFonce : #434953;

$bleuFonce : #5386C5;
$bleuClair : #6698D0;

$bleu2Fonce : #1AADDC;
$bleu2Clair : #44C4EF;

$orangeClair : #F36D52;
$orangeFonce : #EA563E;

$rougeClair : #ED5565;
$rougeFonce : #DC4554;

$vertClair : #A0CF68;
$vertFonce : #89C04F;

$h2Size : 30px;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700; 
	text-transform: uppercase;
}

h2{
	font-size: $h2Size;
}

h3{
	text-transform: uppercase;
}

body{
	margin: 0;
	padding: 0;
	background: #FFF;
	color: black;
}

.btn{
	display: block;
	text-align: center;
	color: #FFF;
	text-decoration: none;
}

header{
	margin: 0;
	background: $jaune;
	position: relative;
	h1{
		color: white;
		margin-bottom: -5px;
		img{
			width: 100%;
		}
	}
	.rsn{
		position: absolute;
		left: 50%;
		margin-top: -50px;
		z-index: 100;
		img{
			width: 25px;
			margin: 10px;
		}
	} 
	#timer{
		text-align: center;
		background: $grisClair;
		padding: 10px;
		color: #FFF;
		text-transform: uppercase;
		#countdown{
			font-size: 30px;
		}
	}
}

footer{
	background: $grisFonce;
	padding-bottom: 20px;
	#partners{
		text-align: center;
		background: $grisClair;
		color: #FFF;
		margin-bottom: 40px;
		padding: 10px;
	}
	a{
		display: block;
		color : white;
		text-align: center;
		text-decoration: none;
		margin: 5px;
	}
	p{
		margin-top: 20px;
		color: #FFF;
		text-align: center;
	}
}

nav#navigation{
	width: 100%;
	ul{
		width: 100%;
		li{
			display: inline-block;
			width: (100% / 5) + 0.04;
			height: 100%;
			margin-left: -4px;
			a{
				display: block;
				width: 100%;
				height: 100%;
				padding: 20px;
				text-align: center;
				color: white;
				background: $vertFonce;
				text-transform: uppercase;
				font-size: 24px;
				font-weight: bold;
				&:hover{
					text-decoration: none;
				}
			}
			.nav-accueil{
				background: $jaune;
				&:hover{
					background: lighten($jaune, 10%);
				}
			}
			.nav-festi{
				background: $bleuFonce;
				&:hover{
					background: $bleuClair;
				}
			}
			.nav-progra{
				background: $orangeFonce;
				&:hover{
					background: $orangeClair;
				}
			}
			.nav-intervenants{
				background: $rougeFonce;
				&:hover{
					background: $rougeClair;
				}
			}
			.nav-coulisses{
				background: $bleu2Fonce;
				&:hover{
					background: $bleu2Clair;
				}
			}
			.nav-contact{
				background: $vertFonce;
				&:hover{
					background: $vertClair;
				}
			}
		}
	}
}

#content{
	padding-bottom: 100px; padding-top: 100px;
	*{
		color: #FFF;
	}
}
nav#portal{
	ul{
		padding: 10px;
		a{
			text-align: center;
			text-transform: uppercase;
		}
		p{
			margin: 15px;
		}
	}
	.decoPortal{
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}
	#festPortal{
		padding: 0;
		background: $bleuFonce;
		.btn{
			background: $bleuClair;
		}
		li{
			display: inline-block;
		}
		.decoPortal{
			background: $bleuClair;
			height: 250px;
			img{
				margin-left: 15px;
				height: 100%;
			}
		}
		h2{
			margin-top: 50px;
		}
	}
	#progPortal{
		padding: 0;
		background: $orangeFonce;
		.btn{
			background: $orangeClair;
			width: 100px;
		}
		.decoPortal{
			background: $orangeClair;
			img{
				position: relative;
				top: 5px;
			}
		}
		h2{
			text-align: center;
		}
	}
	#interPortal{
		padding: 0;
		background: $rougeFonce;
		.btn{
			background: $rougeClair;
			width: 300px;
		}

		.decoPortal{
			background: $rougeClair;
			img{
				position: relative;
				top: 5px;
			}
		}
		h2, p{
			margin-left: 150px;
		}
	}
	#conPortal{
		padding: 0;
		background: $vertFonce;
		.btn{
			background: $vertClair;
			margin: 0;
			margin-left: 20px;
		}

		.decoPortal{
			background: $vertClair;
			height: 250px;
			img{
				margin-left: 15px;
				height: 100%;
			}
		}
		h2{
			margin-left: 20px; margin-bottom: 10px;
		}
		& p:nth-child(1){
			margin-top: 50px;
		}
	}
}

#fest{
	.row{
		margin: 0;
		h2{
			background: $bleuClair;
			padding: 20px;
			font-size: $h2Size;
		}
		h3{
			font-size: $h2Size;
			font-weight: bold;
		}
		.col-md-3{
			background: $bleuClair;
			min-height: 200px;
			text-align: center;
		}
		.col-md-8{
			min-height: 200px;
		}
		.col-md-10, .col-md-8{
			background: $bleuFonce;
			padding: 20px;	padding-left: 30px;
		}
		.col-md-10{
			text-align: right;
			padding-right: 50px;
		}
		.col-md-11, .col-md-5{
			background: $bleuClair;
			padding: 20px;	padding-left: 30px;
			padding-right: 250px;
		}
		#pres-part1{
			background: $bleuFonce url('../images/FLAT_Parapluie.png') no-repeat right;
			background-size: 25%;
		}
		#map{
			min-height: 500px;
			& + .col-md-5{
				min-height: 300px;
				p{
					margin: 20px;
					width: 300px;
				}
			}
		}
	}
	p{
		margin: 20px;
	}
}

#progra{
	h2{
		background: $orangeClair;
		text-align: center;
		padding: 20px;
	}
	h3{
		background: $orangeFonce;
		font-size: $h2Size;
		font-weight: bold;
		padding: 20px;
		text-align: center;
		cursor: pointer;
	}
	#progra-contain-glob{
		margin-left: 50px;
	}
	#hours{
		background: $orangeFonce;
		li{
			list-style: none;
			width: (100% / 8);
			text-align: center;
			padding: 5px;
		}
	}
	#items{
		li:nth-child(odd){
			background: $orangeFonce;
			padding: 20px;
			padding-left: 100px;
		}
		li:nth-child(even){
			@extend li:nth-child(odd);
			background: $orangeClair;
		}

	}
}

#intervenants{
	h2{
		background: $rougeClair;
		text-align: center;
		padding: 30px;
	}
	h3{
		background: $rougeFonce;
		padding: 25px;
	}
	.pros{
		padding-left: 150px;
		.col-md-3{
			position: relative;
			height: 200px;
			margin: 0;
			padding: 0;
			overflow: hidden;
			.img-container{
				background: $rougeFonce;
				img{
					width: 100%;
				}
				.overlay{
					position: absolute;
					top: 0;
					width: 100%;
					height: 200px;
					background: $rougeFonce;
					opacity: .4;
				}
			}
			.inter-infos{
				position: absolute;
				top:300px;
				height: 200px;
				width: 100%;
				padding: 40px;
				background: $rougeClair;
				transition: all .3s ease-in;
				& p:nth-child(3){
					margin-top: 20px;
				}
			}
			&:hover{
				.inter-infos{
					position: absolute;
					top:0;
				}
			}
		}
	}
	.students{
		padding-left: 100px;
		.col-md-1{
			position: relative;
			height: 80px;
			margin: 0;
			padding: 0;
			overflow: hidden;
			.img-container{
				background: $rougeFonce;
				height: 80px;
				img{
					height: 100%;
					min-width: 107%;
				}
				.overlay{
					position: absolute;
					top: 0;
					width: 100%;
					height: 80px;
					background: $rougeFonce;
					opacity: .4;
				}
			}
			.inter-infos{
				position: absolute;
				top:300px;
				height: 200px;
				width: 100%;
				padding: 40px;
				background: $rougeClair;
				transition: all .5s ease-out;
				& p:nth-child(3){
					margin-top: 20px;
				}
			}
			&:hover{
				.inter-infos{
					position: absolute;
					top:0;
				}
			}
		}
	}
}

#contact{
	.contact-header{
		padding: 8px;
		min-height: 150px;
		background: $vertFonce;
		& + div{
			background: $vertClair;
			height: 150px;
		}
		h2{
			text-align: center;
			margin: 10px;
			font-size: $h2Size;
		}
		p{
			text-align: center;
			width: 250px;
			margin: 0 auto;
		}
	}
	.img-container{
		img{
			max-height: 100%;
		}
	}
	.form-container{
		height: 100%;
		background: $vertClair;
		text-align: center;
		.col-md-6{
			padding: 30px;
		}
		label, input, textarea{
			display: block;
			width: 100%;
			margin: 19px;
		}
		input, textarea{
			background: $vertFonce;
			padding: 5px;
			border: none;
			resize: none;
		}
		input[type="submit"]{
			width: 200px;
			margin: 30px auto;
			text-align: center;
		}
	}
}

#mentions{
	.btn-index{
		background: $jaune;
		padding: 14.5px;
		padding-left: 50px; padding-right: 50px;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
	}
	h2{
		text-align: center;
		padding: 15px;
		background: $grisClair;
		font-size: $h2Size;
	}
	.text{
		background: $grisFonce;
		padding: 100px;
		padding-top: 20px; padding-bottom: 50px;
		h3{
			font-weight: bold;
			margin-top: 25px;
		}
	}
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-icon-wobble-horizontal {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  padding-left: 10px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-horizontal:before {
  content: "\f061";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-horizontal:hover:before, .hvr-icon-wobble-horizontal:focus:before, .hvr-icon-wobble-horizontal:active:before, a:hover .hvr-icon-wobble-horizontal:before, a:focus .hvr-icon-wobble-horizontal:before, a:active .hvr-icon-wobble-horizontal:before{
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}