@media screen and (min-width: 700px){
	
	#content{
		nav#portal{
			a{
				width: 150px;
				margin: 0 auto;
			}
			ul{
				min-height: 250px;
				list-style: none;
				margin-top: -4px;
				li{
				}
			}
			
		}
	}
}